/Lec05/nbproject/private/
/Lec05/build/
/Lec05/dist/
/Intento_de_ejercicio/nbproject/private/
/Lec06/nbproject/private/
/Lec06/build/
/Lec06/dist/
/PracticaProgramada2/nbproject/private/
/PracticaProgramada2/build/
/Ejercicio 1/nbproject/private/
/Ejercicio 1/build/
/Ejercicio 2/nbproject/private/
/Ejercicio 2/build/
/Ejercicio 2/dist/
/Ejercicio3/nbproject/private/
/Ejercicio3/build/
/Ejercicio3/dist/
/Lec08/nbproject/private/
/Lec08/dist/
/Lec08/build/
/Practica2/nbproject/private/
/Practica2/build/
/Practica2/dist/
/Lec09/nbproject/private/
/Lec09/build/
/Lec09/dist/
/LEc10/nbproject/private/
/LEc10/build/
